[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
flask-sqlalchemy = "==2.5.1"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
assertpy = "*"
pytest = "*"
sqlalchemy = "==1.4.3"

[requires]
python_version = "3.8"
